[submodule "home/.zprezto"]
	path = home/.zprezto
	url = git@github.com:Meroje/prezto.git
[submodule "home/.tmux-powerline"]
	path = home/.tmux-powerline
	url = git@github.com:Meroje/tmux-powerline.git
