alias git="hub"
alias gc="git commit -m"
alias ga="git add"
alias gs="git status"
alias gd="git diff"
alias gl='git log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"'
alias cls="cd;clear"
alias c='pygmentize -O style=monokai -f console256 -g'
alias hideprev='history -d $((HISTCMD-2)) && history -d $((HISTCMD-1))' # Hide the previous command you just ran
alias yt='youtube-dl --write-description --write-info-json -o "/Volumes/Airy 3To/youtube-archive/%(uploader)s/%(stitle)s.%(ext)s"'
alias t="todo.sh"
alias ri='ri -f ansi'